In [3]:
import pandas as pd
import numpy as np

## 1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.
    a. print the first 3 rows
    b. print the number of rows and columns (shape)
    c. print the column names
    d. print the data type of each column
    e. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [4]:
from pydataset import data
df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [5]:
df_iris.head().T

                   1       2       3       4       5
Sepal.Length     5.1     4.9     4.7     4.6     5.0
Sepal.Width      3.5     3.0     3.2     3.1     3.6
Petal.Length     1.4     1.4     1.3     1.5     1.4
Petal.Width      0.2     0.2     0.2     0.2     0.2
Species       setosa  setosa  setosa  setosa  setosa

### 1.a. print the first 3 rows

In [6]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### 1.b. print the number of rows and columns (shape)

In [7]:
df_iris.shape

(150, 5)

### 1.c. print the column names

In [8]:
df_iris.head(0)

Empty DataFrame
Columns: [Sepal.Length, Sepal.Width, Petal.Length, Petal.Width, Species]
Index: []

### 1.d. print the data type of each column

In [9]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

### 1.e. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [10]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

    a. assign the first 100 rows to a new dataframe, df_excel_sample
    b. print the number of rows of your original dataframe
    c. print the first 5 column names
    d. print the column names that have a data type of object
    e. compute the range for each of the numeric variables.

In [11]:
df_excel = pd.read_csv("/Users/hector/codeup-data-science/classification-exercises/customer_details.csv")
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,phone_service_a,internet_service,internet_service_a,contract_type,...,churn,is_female,has_churned,has_phone,has_internet,has_phone_has_internet,partner_dependents,tenure,start_date,avg_monthly_charges
0,0002-ORFBO,Female,0,Yes,Yes,1,One Line,1,DSL,1,...,No,True,False,True,True,True,3,9,20201109,65.6
1,0003-MKNFE,Male,0,No,No,2,Two or More Lines,1,DSL,0,...,No,False,False,True,True,True,0,9,20201109,59.9
2,0004-TLHLJ,Male,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,False,True,True,True,True,0,4,20210418,73.9
3,0011-IGKFF,Male,1,Yes,No,1,One Line,2,Fiber Optic,0,...,Yes,False,True,True,True,True,1,13,20200723,98
4,0013-EXCHZ,Female,1,Yes,No,1,One Line,2,Fiber Optic,0,...,Yes,True,True,True,True,True,1,3,20210507,83.9

### 1.a. assign the first 100 rows to a new dataframe, df_excel_sample

In [12]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,phone_service_a,internet_service,internet_service_a,contract_type,...,churn,is_female,has_churned,has_phone,has_internet,has_phone_has_internet,partner_dependents,tenure,start_date,avg_monthly_charges
0,0002-ORFBO,Female,0,Yes,Yes,1,One Line,1,DSL,1,...,No,True,False,True,True,True,3,9,20201109,65.6
1,0003-MKNFE,Male,0,No,No,2,Two or More Lines,1,DSL,0,...,No,False,False,True,True,True,0,9,20201109,59.9
2,0004-TLHLJ,Male,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,False,True,True,True,True,0,4,20210418,73.9
3,0011-IGKFF,Male,1,Yes,No,1,One Line,2,Fiber Optic,0,...,Yes,False,True,True,True,True,1,13,20200723,98
4,0013-EXCHZ,Female,1,Yes,No,1,One Line,2,Fiber Optic,0,...,Yes,True,True,True,True,True,1,3,20210507,83.9
5,0013-MHZWF,Female,0,No,Yes,1,One Line,1,DSL,0,...,No,True,False,True,True,True,2,8,20201204,69.4
6,0013-SMEOE,Female,1,Yes,No,1,One Line,2,Fiber Optic,2,...,No,True,False,True,True,True,1,72,20150812,109.7
7,0014-BMAQU,Male,0,Yes,No,2,Two or More Lines,2,Fiber Optic,2,...,No,False,False,True,True,True,1,64,20160427,84.65
8,0015-UOCOJ,Female,1,No,No,1,One Line,1,DSL,0,...,No,True,False,True,True,True,0,7,20210109,48.2
9,0016-QLJIS,Female,0,Yes,Yes,2,Two or More Lines,1,DSL,2,...,No,True,False,True,True,True,3,66,20160216,90.45
10,0017-DINOC,Male,0,No,No,0,No Phone Service,1,DSL,2,...,No,False,False,False,True,False,0,54,20170129,45.2
11,0017-IUDMW,Female,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,2,...,No,True,False,True,True,True,3,72,20150801,116.8
12,0018-NYROU,Female,0,Yes,No,1,One Line,2,Fiber Optic,0,...,No,True,False,True,True,True,1,5,20210309,68.95
13,0019-EFAEP,Female,0,No,No,2,Two or More Lines,2,Fiber Optic,2,...,No,True,False,True,True,True,0,72,20150823,101.3
14,0019-GFNTW,Female,0,No,No,0,No Phone Service,1,DSL,2,...,No,True,False,False,True,False,0,57,20161117,45.05
15,0020-INWCK,Female,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,2,...,No,True,False,True,True,True,3,72,20150828,95.75
16,0020-JDNXP,Female,0,Yes,Yes,0,No Phone Service,1,DSL,1,...,No,True,False,False,True,False,3,33,20181126,61.25
17,0021-IKXGC,Female,1,No,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,True,True,0,1,20210712,72.1
18,0022-TCJCI,Male,1,No,No,1,One Line,1,DSL,1,...,Yes,False,True,True,True,True,0,45,20171126,62.7
19,0023-HGHWL,Male,1,No,No,0,No Phone Service,1,DSL,0,...,Yes,False,True,False,False,False,0,1,20210712,25.1
20,0023-UYUPN,Female,1,Yes,No,2,Two or More Lines,0,No Internet Service,1,...,No,True,False,True,True,True,1,52,20170418,25.2
21,0023-XUOPT,Female,0,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,True,True,True,True,True,1,13,20200715,94.1
22,0027-KWYKW,Female,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,False,False,3,22,20191010,83.75
23,0030-FNXPP,Female,0,No,No,1,One Line,0,No Internet Service,0,...,No,True,False,True,False,False,0,3,20210516,19.85
24,0031-PVLZI,Female,0,Yes,Yes,1,One Line,0,No Internet Service,0,...,Yes,True,True,True,True,True,3,4,20210419,20.35
25,0032-PGELS,Female,0,Yes,Yes,0,No Phone Service,1,DSL,0,...,Yes,True,True,False,True,False,3,1,20210712,30.5
26,0036-IHMOT,Female,0,Yes,Yes,1,One Line,2,Fiber Optic,1,...,No,True,False,True,False,False,3,55,20170125,103.7
27,0040-HALCW,Male,0,Yes,Yes,1,One Line,0,No Internet Service,2,...,No,False,False,True,False,False,3,53,20170227,20.4
28,0042-JVWOJ,Male,0,No,No,1,One Line,0,No Internet Service,1,...,No,False,False,True,False,False,0,24,20190810,19.6
29,0042-RLHYP,Female,0,Yes,Yes,1,One Line,0,No Internet Service,2,...,No,True,False,True,True,True,3,71,20150916,19.7
30,0048-LUMLS,Male,0,Yes,Yes,1,One Line,2,Fiber Optic,1,...,No,False,False,True,False,False,3,36,20180824,91.2
31,0048-PIHNL,Female,0,Yes,No,1,One Line,0,No Internet Service,1,...,No,True,False,True,True,True,1,44,20171211,20.45
32,0052-DCKON,Male,0,Yes,No,2,Two or More Lines,2,Fiber Optic,1,...,No,False,False,True,False,False,1,69,20151125,115.8
33,0052-YNYOT,Female,0,No,No,1,One Line,0,No Internet Service,1,...,No,True,False,True,True,True,0,65,20160302,20.55
34,0056-EPFBG,Male,0,Yes,Yes,0,No Phone Service,1,DSL,2,...,No,False,False,False,False,False,3,21,20191113,39.4
35,0057-QBUQH,Female,0,No,Yes,2,Two or More Lines,0,No Internet Service,2,...,No,True,False,True,True,True,2,43,20180123,25.1
36,0058-EVZWM,Female,0,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,True,True,1,55,20170105,89.8
37,0060-FUALY,Female,0,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,False,False,1,59,20160910,94.75
38,0064-SUDOG,Female,0,Yes,Yes,1,One Line,0,No Internet Service,2,...,No,True,False,True,True,True,3,11,20200909,20.3
39,0064-YIJGF,Male,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,No,False,False,True,True,True,3,25,20190629,75.75
40,0067-DKWBL,Male,1,No,No,1,One Line,1,DSL,0,...,Yes,False,True,True,True,True,0,2,20210616,49.25
41,0068-FIGTF,Female,0,No,No,1,One Line,1,DSL,1,...,No,True,False,True,False,False,0,27,20190526,78.2
42,0071-NDAFP,Male,0,Yes,Yes,2,Two or More Lines,0,No Internet Service,2,...,No,False,False,True,True,True,3,25,20190721,25.5
43,0074-HDKDG,Male,0,Yes,Yes,1,One Line,1,DSL,1,...,No,False,False,True,True,True,3,26,20190608,61.6
44,0076-LVEPS,Male,0,No,Yes,0,No Phone Service,1,DSL,0,...,No,False,False,False,True,False,2,28,20190425,45
45,0078-XZMHT,Male,0,Yes,No,2,Two or More Lines,1,DSL,2,...,No,False,False,True,True,True,1,74,20150608,85.15
46,0080-EMYVY,Female,0,No,No,1,One Line,1,DSL,1,...,No,True,False,True,True,True,0,14,20200607,51.45
47,0080-OROZO,Female,0,No,No,1,One Line,2,Fiber Optic,1,...,No,True,False,True,True,True,0,36,20180825,99.25
48,0082-LDZUE,Male,0,No,No,1,One Line,1,DSL,0,...,No,False,False,True,True,True,0,1,20210712,44.3
49,0082-OQIQY,Male,0,No,No,1,One Line,2,Fiber Optic,0,...,No,False,False,True,True,True,0,28,20190423,94.2
50,0083-PIVIK,Male,0,No,No,2,Two or More Lines,1,DSL,1,...,No,False,False,True,True,True,0,69,20151127,81.25
51,0089-IIQKO,Female,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,True,True,3,38,20180622,99.95
52,0093-EXYQL,Female,1,No,No,1,One Line,2,Fiber Optic,0,...,No,True,False,True,True,True,0,40,20180409,91.55
53,0093-XWZFY,Male,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,False,True,True,True,True,0,39,20180524,104.5
54,0094-OIFMO,Female,1,No,No,1,One Line,2,Fiber Optic,0,...,Yes,True,True,True,True,True,0,12,20200818,95
55,0096-BXERS,Female,0,Yes,No,2,Two or More Lines,1,DSL,0,...,No,True,False,True,True,True,1,6,20210202,50.35
56,0096-FCPUF,Male,0,No,No,2,Two or More Lines,1,DSL,0,...,No,False,False,True,False,False,0,29,20190305,64.5
57,0098-BOWSO,Male,0,No,No,1,One Line,0,No Internet Service,0,...,No,False,False,True,True,True,0,27,20190504,19.4
58,0100-DUVFC,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,1,...,No,False,False,True,True,True,1,70,20151021,104.8
59,0103-CSITQ,Female,0,Yes,No,2,Two or More Lines,2,Fiber Optic,1,...,No,True,False,True,True,True,1,57,20161107,109.4
60,0104-PPXDV,Male,0,Yes,No,1,One Line,1,DSL,1,...,No,False,False,True,True,True,1,57,20161105,50.3
61,0106-GHRQR,Male,0,No,No,2,Two or More Lines,1,DSL,0,...,No,False,False,True,True,True,0,17,20200313,71.4
62,0106-UGRDO,Female,0,Yes,No,2,Two or More Lines,2,Fiber Optic,2,...,No,True,False,True,False,False,1,71,20150927,116
63,0107-WESLM,Male,0,No,No,1,One Line,0,No Internet Service,0,...,Yes,False,True,True,True,True,0,1,20210712,19.85
64,0107-YHINA,Male,0,No,Yes,2,Two or More Lines,2,Fiber Optic,0,...,Yes,False,True,True,True,True,2,1,20210712,99.75
65,0111-KLBQG,Male,1,Yes,Yes,1,One Line,2,Fiber Optic,0,...,No,False,False,True,True,True,3,30,20190128,93.95
66,0112-QAWRZ,Male,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,No,False,False,True,True,True,3,16,20200415,90.8
67,0112-QWPNC,Male,0,Yes,No,2,Two or More Lines,1,DSL,1,...,Yes,False,True,True,True,True,1,48,20170809,84.35
68,0114-IGABW,Female,0,Yes,No,0,No Phone Service,1,DSL,2,...,No,True,False,False,True,False,1,71,20150908,58.25
69,0114-PEGZZ,Female,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,False,False,0,34,20181016,107.55
70,0114-RSRRW,Female,0,Yes,No,1,One Line,0,No Internet Service,0,...,No,True,False,True,True,True,1,9,20201029,19.95
71,0115-TFERT,Male,0,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,False,True,True,True,True,1,21,20191117,111.2
72,0117-LFRMW,Male,0,Yes,Yes,0,No Phone Service,1,DSL,0,...,Yes,False,True,False,True,False,3,36,20180811,40.2
73,0118-JPNOY,Female,1,No,No,1,One Line,2,Fiber Optic,0,...,No,True,False,True,True,True,0,26,20190626,85.8
74,0121-SNYRK,Male,0,No,No,0,No Phone Service,1,DSL,1,...,No,False,False,False,True,False,0,49,20170701,35.4
75,0122-OAHPZ,Female,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,True,True,True,True,True,0,7,20210113,73.85
76,0123-CRBRT,Female,0,Yes,Yes,2,Two or More Lines,1,DSL,2,...,No,True,False,True,True,True,3,63,20160521,88.1
77,0125-LZQXK,Male,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,False,True,True,True,True,0,15,20200502,101.35
78,0128-MKWSG,Female,0,No,Yes,0,No Phone Service,1,DSL,0,...,No,True,False,False,True,False,2,25,20190712,45.8
79,0129-KPTWJ,Male,0,Yes,No,1,One Line,2,Fiber Optic,0,...,No,False,False,True,False,False,1,71,20150904,94.65
80,0129-QMPDR,Male,0,Yes,Yes,1,One Line,0,No Internet Service,1,...,No,False,False,True,True,True,3,42,20180205,20.5
81,0130-SXOUN,Male,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,No,False,False,True,True,True,0,67,20160117,89.4
82,0133-BMFZO,Female,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,True,True,True,True,True,0,2,20210608,86.25
83,0134-XWXCE,Female,1,No,No,1,One Line,1,DSL,1,...,No,True,False,True,True,True,0,44,20171222,74.85
84,0135-NMXAP,Female,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,True,True,True,True,True,0,12,20200820,89.75
85,0136-IFMYD,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,2,...,No,False,False,True,True,True,1,69,20151031,109.95
86,0137-OCGAB,Female,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,True,True,True,False,False,0,1,20210712,80.2
87,0137-UDEUO,Female,0,No,No,1,One Line,0,No Internet Service,0,...,Yes,True,True,True,True,True,0,3,20210506,19.85
88,0139-IVFJG,Female,0,Yes,No,1,One Line,2,Fiber Optic,0,...,No,True,False,True,True,True,1,2,20210608,90.35
89,0141-YEAYS,Female,1,No,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,False,False,0,28,20190420,86.45
90,0142-GVYSN,Male,0,No,No,1,One Line,0,No Internet Service,0,...,No,False,False,True,True,True,0,25,20190707,20.3
91,0147-ESWWR,Female,1,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,True,True,1,39,20180513,101.25
92,0148-DCDOS,Male,0,No,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,False,True,True,True,True,0,25,20190715,94.7
93,0151-ONTOV,Female,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,True,True,True,True,True,0,1,20210712,70.9
94,0156-FVPTA,Male,0,Yes,No,1,One Line,1,DSL,0,...,Yes,False,True,True,True,True,1,21,20191104,54.2
95,0164-APGRB,Female,0,No,No,2,Two or More Lines,2,Fiber Optic,2,...,No,True,False,True,False,False,0,74,20150615,114.9
96,0164-XAIRP,Female,0,No,No,1,One Line,0,No Internet Service,2,...,No,True,False,True,True,True,0,24,20190811,19.55
97,0168-XZKBB,Female,0,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,No,True,False,True,False,False,1,18,20200211,86.85
98,0174-QRVVY,Male,0,Yes,Yes,2,Two or More Lines,0,No Internet Service,2,...,No,False,False,True,True,True,3,73,20150718,25.35
99,0177-PXBAT,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,No,False,False,True,False,False,1,34,20181024,109.9

In [19]:
df_excel.dtypes

customer_id                object
gender                     object
is_senior_citizen           int64
partner                    object
dependents                 object
phone_service               int64
phone_service_a            object
internet_service            int64
internet_service_a         object
contract_type               int64
contract_type_a            object
payment_type               object
monthly_charges           float64
total_charges             float64
churn                      object
is_female                    bool
has_churned                  bool
has_phone                    bool
has_internet                 bool
has_phone_has_internet       bool
partner_dependents          int64
tenure                      int64
start_date                  int64
avg_monthly_charges        object
dtype: object

### 1.b. print the number of rows of your original dataframe

In [13]:
df_excel.shape

(7049, 24)

### 1.c. print the first 5 column names

In [14]:
df_excel.iloc[:, :5].head()

  customer_id  gender  is_senior_citizen partner dependents
0  0002-ORFBO  Female                  0     Yes        Yes
1  0003-MKNFE    Male                  0      No         No
2  0004-TLHLJ    Male                  0      No         No
3  0011-IGKFF    Male                  1     Yes         No
4  0013-EXCHZ  Female                  1     Yes         No

### 1.d. print the column names that have a data type of object

In [23]:
df=df_excel.select_dtypes('object')
df

,customer_id,gender,partner,dependents,phone_service_a,internet_service_a,contract_type_a,payment_type,churn,avg_monthly_charges
0,0002-ORFBO,Female,Yes,Yes,One Line,DSL,1 Year,Mailed check,No,65.6
1,0003-MKNFE,Male,No,No,Two or More Lines,DSL,Month-to-Month,Mailed check,No,59.9
2,0004-TLHLJ,Male,No,No,One Line,Fiber Optic,Month-to-Month,Electronic check,Yes,73.9
3,0011-IGKFF,Male,Yes,No,One Line,Fiber Optic,Month-to-Month,Electronic check,Yes,98
4,0013-EXCHZ,Female,Yes,No,One Line,Fiber Optic,Month-to-Month,Mailed check,Yes,83.9
...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,No,No,One Line,DSL,1 Year,Mailed check,No,55.15
7045,9992-RRAMN,Male,Yes,No,Two or More Lines,Fiber Optic,Month-to-Month,Electronic check,Yes,85.1
7046,9992-UJOEL,Male,No,No,One Line,DSL,Month-to-Month,Mailed check,No,50.3
7047,9993-LHIEB,Male,Yes,Yes,One Line,DSL,2 Year,Mailed check,No,67.85
7048,9995-HOTOH,Male,Yes,Yes,No Phone Service,DSL,2 Year,Electronic check,No,59

In [24]:
df.dtypes

customer_id            object
gender                 object
partner                object
dependents             object
phone_service_a        object
internet_service_a     object
contract_type_a        object
payment_type           object
churn                  object
avg_monthly_charges    object
dtype: object

### 1.e. compute the range for each of the numeric variables.

In [25]:
df_excel.max()

customer_id                        9995-HOTOH
gender                                   Male
is_senior_citizen                           1
partner                                   Yes
dependents                                Yes
phone_service                               2
phone_service_a             Two or More Lines
internet_service                            2
internet_service_a        No Internet Service
contract_type                               2
contract_type_a                Month-to-Month
payment_type                     Mailed check
monthly_charges                        118.75
total_charges                          8684.8
churn                                     Yes
is_female                                True
has_churned                              True
has_phone                                True
has_internet                             True
has_phone_has_internet                   True
partner_dependents                          3
tenure                                     79
start_date                           20210812
avg_monthly_charges                     99.95
dtype: object

## 3. Read the data from this google sheet into a dataframe, df_google

    a. print the first 3 rows
    b. print the number of rows and columns
    c. print the column names
    d. print the data type of each column
    e. print the summary statistics for each of the numeric variables
    f. print the unique values for each of your categorical variables

In [27]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 3.a. print the first 3 rows

In [28]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### 3.b. print the number of rows and columns

In [30]:
df_google.shape

(891, 12)

### 3.c. print the column names

In [31]:
df_google.head(0)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

### 3.d. print the data type of each column

In [32]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### 3.e. print the summary statistics for each of the numeric variables

In [33]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### 3.f. print the unique values for each of your categorical variables

In [34]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

## 3. Make a new python module, acquire.py to hold the following data aquisition functions:

    a. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

    b. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

    c. Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [35]:
#created acquire.py in VS Code