In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

import explore
import get_db

In [6]:
#get telco data from get_db.py
df_telco = get_db.get_telco_data()
df_telco

,payment_type_id,payment_type,internet_service_type_id,internet_service_type,contract_type_id,contract_type,customer_id,gender,senior_citizen,partner,...,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn
0,1,Electronic check,1,DSL,1,Month-to-month,0015-UOCOJ,Female,1,No,...,Yes,No,No,No,No,No,Yes,48.20,340.35,No
1,1,Electronic check,1,DSL,1,Month-to-month,0023-HGHWL,Male,1,No,...,No,No,No,No,No,No,Yes,25.10,25.1,Yes
2,1,Electronic check,1,DSL,1,Month-to-month,0067-DKWBL,Male,1,No,...,Yes,No,No,No,No,No,Yes,49.25,91.1,Yes
3,1,Electronic check,1,DSL,2,One year,0083-PIVIK,Male,0,No,...,Yes,Yes,Yes,Yes,Yes,No,No,81.25,5567.55,No
4,1,Electronic check,1,DSL,1,Month-to-month,0096-BXERS,Female,0,Yes,...,No,No,No,No,No,No,No,50.35,314.55,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4,Credit card (automatic),3,None,1,Month-to-month,9929-PLVPA,Female,0,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,20.40,94.5,No
7039,4,Credit card (automatic),3,None,3,Two year,9950-MTGYX,Male,0,Yes,...,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes,20.30,487.95,No
7040,4,Credit card (automatic),3,None,3,Two year,9964-WBQDJ,Female,0,Yes,...,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes,24.40,1725.4,No
7041,4,Credit card (automatic),3,None,1,Month-to-month,9970-QBCDA,Female,0,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,19.70,129.55,No
7042,4,Credit card (automatic),3,None,3,Two year,9975-GPKZU,Male,0,Yes,...,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,19.75,856.5,No

In [6]:
df_telco.describe().T

,count,mean,std,min,25%,50%,75%,max
payment_type_id,7043.0,2.315633,1.148907,1.00,1.0,2.00,3.00,4.00
internet_service_type_id,7043.0,1.872923,0.737796,1.00,1.0,2.00,2.00,3.00
contract_type_id,7043.0,1.690473,0.833755,1.00,1.0,1.00,2.00,3.00
senior_citizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
monthly_charges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

In [9]:
df_telco.shape

(7043, 24)

In [10]:
df_telco.dtypes

payment_type_id               int64
payment_type                 object
internet_service_type_id      int64
internet_service_type        object
contract_type_id              int64
contract_type                object
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
paperless_billing            object
monthly_charges             float64
total_charges                object
churn                        object
dtype: object

In [3]:
df_telco.info

<bound method DataFrame.info of       payment_type_id             payment_type  internet_service_type_id  \
0                   1         Electronic check                         1
1                   1         Electronic check                         1
2                   1         Electronic check                         1
3                   1         Electronic check                         1
4                   1         Electronic check                         1
...               ...                      ...                       ...
7038                4  Credit card (automatic)                         3
7039                4  Credit card (automatic)                         3
7040                4  Credit card (automatic)                         3
7041                4  Credit card (automatic)                         3
7042                4  Credit card (automatic)                         3

     internet_service_type  contract_type_id   contract_type customer_id  \
0                      DSL                 1  Month-to-month  0015-UOCOJ
1                      DSL                 1  Month-to-month  0023-HGHWL
2                      DSL                 1  Month-to-month  0067-DKWBL
3                      DSL                 2        One year  0083-PIVIK
4                      DSL                 1  Month-to-month  0096-BXERS
...                    ...               ...             ...         ...
7038                  None                 1  Month-to-month  9929-PLVPA
7039                  None                 3        Two year  9950-MTGYX
7040                  None                 3        Two year  9964-WBQDJ
7041                  None                 1  Month-to-month  9970-QBCDA
7042                  None                 3        Two year  9975-GPKZU

      gender  senior_citizen partner  ...      online_security  \
0     Female               1      No  ...                  Yes
1       Male               1      No  ...                   No
2       Male               1      No  ...                  Yes
3       Male               0      No  ...                  Yes
4     Female               0     Yes  ...                   No
...      ...             ...     ...  ...                  ...
7038  Female               0      No  ...  No internet service
7039    Male               0     Yes  ...  No internet service
7040  Female               0     Yes  ...  No internet service
7041  Female               0      No  ...  No internet service
7042    Male               0     Yes  ...  No internet service

            online_backup    device_protection         tech_support  \
0                      No                   No                   No
1                      No                   No                   No
2                      No                   No                   No
3                     Yes                  Yes                  Yes
4                      No                   No                   No
...                   ...                  ...                  ...
7038  No internet service  No internet service  No internet service
7039  No internet service  No internet service  No internet service
7040  No internet service  No internet service  No internet service
7041  No internet service  No internet service  No internet service
7042  No internet service  No internet service  No internet service

             streaming_tv     streaming_movies paperless_billing  \
0                      No                   No               Yes
1                      No                   No               Yes
2                      No                   No               Yes
3                     Yes                   No                No
4                      No                   No                No
...                   ...                  ...               ...
7038  No internet service  No internet service                No
7039  No internet service  No internet service               Yes
7040  No internet service  No internet service               Yes
7041  No internet service  No internet service                No
7042  No internet service  No internet service                No

     monthly_charges total_charges churn
0              48.20        340.35    No
1              25.10          25.1   Yes
2              49.25          91.1   Yes
3              81.25       5567.55    No
4              50.35        314.55    No
...              ...           ...   ...
7038           20.40          94.5    No
7039           20.30        487.95    No
7040           24.40        1725.4    No
7041           19.70        129.55    No
7042           19.75         856.5    No

[7043 rows x 24 columns]>

In [5]:
df_telco.isna().sum()

payment_type_id             0
payment_type                0
internet_service_type_id    0
internet_service_type       0
contract_type_id            0
contract_type               0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
dtype: int64