In [1]:
import pandas as pd
import numpy as np

## 1. Attendance Data

Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [2]:
#pull in the csv data.
attendance = pd.read_csv("/Users/hector/codeup-data-science/classification-exercises/untidy-data/attendance.csv")
attendance.head()

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [3]:
#melt into three columns.
attendance = attendance.melt(id_vars=['Unnamed: 0'], var_name='date', value_name='attendance')
attendance.head()

  Unnamed: 0        date attendance
0      Sally  2018-01-01          P
1       Jane  2018-01-01          A
2      Billy  2018-01-01          A
3       John  2018-01-01          P
4      Sally  2018-01-02          T

In [5]:
#create calculation function.
def attendance_percentage(a):
    if a == 'P':
        return 1
    elif a == 'H':
        return 0.5
    elif a == 'T':
        return 0.9
    else:
        return 0

In [8]:
#run the function.
attendance['att_per'] = attendance['attendance'].apply(attendance_percentage)
attendance.head()

  Unnamed: 0        date attendance  att_per
0      Sally  2018-01-01          P      1.0
1       Jane  2018-01-01          A      0.0
2      Billy  2018-01-01          A      0.0
3       John  2018-01-01          P      1.0
4      Sally  2018-01-02          T      0.9

In [10]:
#This was done to rename the first column, but had to rename all the columns for it to work.
attendance.columns = ['name', 'date', 'attendance', 'attendance_percentage']
attendance.head()

    name        date attendance  attendance_percentage
0  Sally  2018-01-01          P                    1.0
1   Jane  2018-01-01          A                    0.0
2  Billy  2018-01-01          A                    0.0
3   John  2018-01-01          P                    1.0
4  Sally  2018-01-02          T                    0.9

In [13]:
#groupby student and get the mean by attendance.
attendance.groupby('name').attendance_percentage.mean()

name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: attendance_percentage, dtype: float64

## 2. Coffee Levels
    a. Read the coffee_levels.csv file.
    b. Transform the data so that each carafe is in it's own column.
    c. Is this the best shape for the data?

## 3. Cake Recipes

    a. Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
    b. Tidy the data as necessary.
    c. Which recipe, on average, is the best? recipe b
    d. Which oven temperature, on average, produces the best results? 275
    e. Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees